{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% block title %} {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        {% block scripts %} {% endblock %}
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    </head>

    <body class="bg-black text-white font-serif leading-normal tracking-normal">
        {% block content %} {% endblock %}
    </body>
</html>