{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>YapTyper</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/chats/main.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mx-auto">
  {% if user.is_authenticated %}
  <div id="enter-chat-section" class="flex flex-col content-center items-center justify-center h-screen">
    <div>Hi <span id="username-display" class="text-orange-500 font-bold">{{ user.username }}</span></div>
    <a href="{% url 'my_chats' %}">
      <button class="text-xl bg-orange-600 hover:bg-orange-400 my-6 py-2 px-4 border border-white rounded">My
        Chats</button>
    </a>
    <a href="{% url 'create_chatroom' %}">
      <button class="text-xl bg-orange-600 hover:bg-orange-400 my-6 py-2 px-4 border border-white rounded">Create New
        Chat</button>
    </a>
    <a href="{% url 'join_chatroom' %}">

      <button class="text-xl bg-orange-600 hover:bg-orange-400 my-6 py-2 px-4 border border-white rounded">Join Existing
        Chat</button>
    </a>

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" id="logout"
        class="text-xs text-white bg-gray-500 hover:bg-orange-400 mt-14 py-1 px-4 border border-white rounded"
        style="overscroll-behavior: contain">Log Out</button>
    </form>
  </div>
  {% else %}
  <div id="auth-section" class="flex flex-col content-center items-center justify-center h-screen">
    <a href="{% url 'login' %}"
      class="text-xl bg-orange-600 hover:bg-orange-400 my-8 py-2 px-4 border border-white rounded">Login</a>
    <a href="{% url 'register' %}"
      class="text-xl bg-orange-600 hover:bg-orange-400 my-8 py-2 px-4 border border-white rounded">Register</a>
  </div>
  {% endif %}
</div>
{% endblock %}