{% extends 'base.html' %}

{% block content %}
  <div class="container mx-auto">
    <section class="flex items-center justify-around h-screen">
      <h4 class="text-5xl">Enter your name: </h4><br>
      <input type="text" class="h-12 w-full px-4 py-3 text-lg text-yellow-700 border border-red-900 rounded focus:outline-none focus:border-pink-500" onchange="console.log('this.value', this.value)">
      <button class="bg-pink-700" onclick='alert("clicked")'>Enter</button>
    </section>	
  </div>
{% endblock %}
