{% load static %}

<footer class="text-xs text-gray-400 bg-gray-700 shadow-md">
    <div class="container mx-auto px-3 py-3 flex justify-center items-center">
        <div class="inline"> Application created by <a href="https://www.linkedin.com/in/jarek-polowy/"
                class="text-white hover:underline" target="_blank" rel="noopener nofollow noreferrer">Jarek
                Polowy</a>. Talk image by <a href='https://pixabay.com/vectors/talk-balloon-conversation-7228805/'
                class="italic hover:underline" target="_blank" rel="noopener nofollow noreferrer">artisticme</a> via
            pixabay.com <span class="text-white"> | </span> Current app version:
            <span class="text-white">{{ version }}</span>
        </div>
    </div>
</footer>