{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Create Chat Room</title>
{% endblock %}

{% block content %}
<section class="flex flex-col content-center items-center text-gray-700 justify-center h-screen">
    <form method="post"
        class="bg-white shadow-md rounded max-w-64 px-8 pt-6 pb-8 mb-4 flex flex-col content-start items-start justify-start">
        {% csrf_token %}
        <h2 class="block text-gray-700 text-lg font-bold mb-4">Create Chat Room</h2>
        {% if form.non_field_errors %}
        <div class="mb-4">
            <p class="text-red-500 text-xs italic">{{ form.non_field_errors }}</p>
        </div>
        {% endif %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="room_name">Room Name</label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="room_name" name="room_name" type="text">
            {% for error in form.room_name.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
            {% endfor %}
        </div>
        <!-- <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password (optional)</label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" name="password" type="password">
            {% for error in form.password.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
            {% endfor %}
        </div> -->
        <div class="flex items-center justify-between">
            <button type="submit"
                class="text-lg bg-orange-600 hover:bg-orange-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create
                Room</button>
        </div>
    </form>
</section>
{% endblock %}