{% extends 'base.html' %}  {% load static %} {% block title %}
<title>My Chatrooms</title>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/chats/my_chats.js' %}"></script>
{% endblock %}
{% block content %}
<section
  class="flex flex-col content-center items-center text-orange-500 justify-center h-screen"
>
  <div class="max-w-3xl">
    <h2 class="text-2xl font-bold mb-4">My Chats</h2>
    <div class="px-8 pt-6 pb-8 mb-4">
      {% if chatrooms %}
        <select
          id="chatroom-select"
          class="bg-gray-800 font-bold text-orange-500 px-5 py-2 rounded w-full"
          onchange="redirectToChat(this)"
        >
          <option value="" selected disabled>-- Select Chat --</option>
          {% for chatroom in chatrooms %}
            <option value="{% url 'chat_room' chatroom.room_name %}">
              {{ chatroom.room_name|upper }}
            </option>
          {% endfor %}
        </select>
      {% else %}
        <div class="text-white">You have not created any chatrooms yet.</div>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'create_chatroom' %}">
    <button
      class="text-lg text-white bg-orange-600 hover:bg-orange-400 my-6 py-2 px-4 border border-white rounded"
    >
      Create New Chat
    </button>
  </a>
  <a href="javascript:history.back()">
    <button
      class="text-sm text-white bg-gray-500 hover:bg-orange-400 my-8 py-1 px-4 border border-white rounded"
    >
      Back
    </button>
  </a>
</section>
{% endblock %}
