{% extends 'base.html' %} {% load static %} {% block title %}
<title>Chat Room {{ room_name }}</title>
{% endblock %} {% block scripts %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{% static 'js/chats/room.js' %}"></script>
<script>
  window.roomName = "{{ room_name }}";
  window.username = "{{ username }}";
  window.roomPassword = "{{ room_password }}";
  const SERVER = "{{ SERVER }}";
</script>
{% endblock %} {% block content %}
<section
  class="flex flex-col content-center items-center justify-center h-screen"
>
  <span id="users-display" class="text-gray-500">{{ users }}</span>
  <div>
    Chat Name:
    <span id="chat-name-display" class="text-orange-500 font-bold uppercase"
      >{{ room_name }}</span
    >
  </div>
  <div
    id="chat-log"
    class="text-gray-700 bg-white resize-none break-normal mt-2"
    style="
      width: 22rem;
      height: 22rem;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 1rem;
    "
  ></div>
  <div class="flex content-center items-center justify-around">
    <input
      class="text-gray-700 bg-white my-5 w-72"
      placeholder="Type Message..."
      id="chat-message-input"
      type="text"
    />
    <button
      id="chat-message-submit"
      class="text-sm bg-orange-600 hover:bg-orange-400 ml-1 my-6 py-1.5 px-3 border border-white rounded"
    >
      Send
    </button>
  </div>
  <div class="text-gray-500 text-xs text-justify max-w-96 mx-2">
    Please do not share any sensitive information such as personal data,
    passwords, financial details, or any other confidential information in this
    chat. Protecting your privacy is top priority!
  </div>
  <div class="flex space-x-4">
    <a href="javascript:history.back()">
      <button
        class="text-sm text-white bg-gray-500 hover:bg-orange-400 my-8 py-1 px-4 border border-white rounded"
      >
        Back
      </button>
    </a>
    <a href="{% url 'home' %}">
      <button
        id="leave-room"
        class="text-sm bg-gray-500 hover:bg-orange-400 my-8 py-1 px-4 border border-white rounded"
        style="overscroll-behavior: contain"
      >
        Leave Room
      </button>
    </a>
  </div>
</section>
{% endblock %}
